@use '../utilities/_variables.scss';
@use '../components/animation';
@use './_buttons.scss';

/*** F U N C T I O N * C A R D ***/
.function-card {
    display: flex;
    align-items: center;
    counter-increment: function-list-counter;
    border-radius: 20px;
    background-color: variables.$lightergrey-color;
    box-shadow: 0 6px 8px 0 variables.$lightgrey-color;
    margin-inline: 5px;
    margin-bottom: 20px;
    padding-block: 25px;

    &:before {
        content: counter(function-list-counter);
        position: absolute;
        border-radius: 12px;
        color: white;
        background-color: variables.$purple-color;
        margin: -10px;
        padding: 4px 6.5px 2px;
    }

    @media screen and (min-width: 993px) {
        margin-inline: 0;
    }

    .function-icon {
        font-size: large;
        color: variables.$grey-color;
        margin-inline: 30px;
    }
}

.function-card-highlight {
    background-color: variables.$lightpurple-color;

    .function-icon-highlight {
        color: variables.$purple-color;
    }
}

/*** R E S T A U R A N T S * C A R D ***/
.restaurants-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: variables.$button-shadow;
    transition: 200ms;
    margin-bottom: 20px;

    &:hover,
    &:active {
        box-shadow: variables.$activebutton-shadow;
    }

    @media screen and (min-width: 993px) {
        margin: 0;
    }

    .restaurants-card-image {
        height: 170px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;

        @media screen and (min-width: 993px) {
            height: 235px;
        }
    }

    .restaurants-card-new {
        position: absolute;
        right: 30px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 500;
        color: variables.$darkgreen-color;
        background-color: variables.$green-color;
        margin-top: -160px;
        padding: 5px 10px;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            right: 40px;
        }

        @media screen and (min-width: 993px) {
            right: 70px;
            margin-top: -225px;
        }
    }

    .new-left {
        @media screen and (min-width: 993px) {
            right: 50%;
            margin-right: 35px;
        }
    }

    .restaurants-card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px 10px 20px;

        .restaurants-card-description {

            .restaurants-card-title {
                padding-bottom: 5px;
            }
        }

        .full-heart {
            right: 30px;

            @media screen and (min-width: 993px) {
                right: 65px;
            }

            @media screen and (min-width: 768px) and (max-width: 992px) {
                right: 40px;
            }
        }

        .full-heart-left {
            @media screen and (min-width: 993px) {
                right: 50%;
                margin-right: 30px;
            }
        }
    }
}

/*** M E N U * C A R D ***/
.menu-card {
    display: flex;
    border-radius: 15px;
    background-color: white;
    opacity: 0;
    box-shadow: variables.$button-shadow;
    gap: 10px;
    animation: slideup 1s forwards;

    &:nth-child(2) {
        animation-delay: calc(2s/5);
    }

    &:nth-child(3) {
        animation-delay: calc(3s/5);
    }

    &:nth-child(4) {
        animation-delay: calc(4s/5);
    }

    &:nth-child(5) {
        animation-delay: calc(5s/5);
    }

    &:hover .menu-card-selection, &:active .menu-card-selection {
        opacity: 100%;
        width: 72px;
    }

    &:hover .menu-card-selection .menu-card-check, &:active .menu-card-selection .menu-card-check {
        transform: rotate(0deg);
    }

    .menu-card-info {
        display: flex;
        justify-content: space-between;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        gap: 10px;
        padding: 15px 0 15px 15px;


        .menu-card-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            white-space: nowrap;
            gap: 10px;
            padding-right: 10px;

            .menu-card-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .menu-card-text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .menu-card-price {
            display: flex;
            align-items: flex-end;
        }
    }

    .menu-card-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        border-radius: 0 15px 15px 0;
        background-color: variables.$green-color;
        opacity: 0;
        cursor: pointer;
        transition: 0.5s;

        .menu-card-check {
            font-size: 25px;
            color: white;
            transform: rotate(180deg);
            transition: 0.5s;
        }
    }
}