@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .function {
        padding-inline: 60px;
    }

    .restaurants {
        padding-inline: 60px;
    }

    footer {
        padding-inline: 60px;
    }   
}