.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $lightergrey-color;
    padding: 20px;
    padding-top: 35px;
}

.explore-title {
    text-align: center;
    padding-bottom: 10px;
}

.explore-text {
    text-align: center;
    color: $grey-color;
    padding-bottom: 35px;
}

.explore-button {
    width: 215px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(170deg, $pink-color, $purple-color);
    color: white;
    box-shadow: $button-shadow;
    transition: 200ms;
    margin-bottom: 35px;
    padding: 17px;

    &:hover {
        filter: brightness(1.2);
        box-shadow: $activebutton-shadow;
    }
}