@use '../base/color.scss';

.function {
    margin-block: 35px;
    padding-inline: 15px;

    .function-title {
        padding-bottom: 20px;
    }
    
    .function-list {
        counter-reset: function-list-counter 0;
        margin: 0;
        margin-left: 10px;
        padding: 0;

        .function-card {
            display: flex;
            align-items: center;
            counter-increment: function-list-counter;
            border-radius: 20px;
            background-color: color.$lightergrey-color;
            box-shadow: 0 6px 8px 0 color.$lightgrey-color;
            margin-inline: 5px;
            margin-bottom: 20px;
            padding-block: 25px;
        
            &:before {
                content: counter(function-list-counter);
                position: absolute;
                border-radius: 30px;
                color: white;
                background-color: color.$purple-color;
                margin: -10px;
                padding-inline: 6px;
                padding-top: 3px;
            }

            .function-icon {
                font-size: large;
                color: color.$grey-color;
                margin-inline: 30px;
            }
        }

        .function-card-highlight {
            background-color: color.$lightpurple-color;

            .function-icon-highlight {
                color: color.$purple-color;
            }
        }
    }
}