$darkergrey-color: #353535;
$darkgrey-color: #4D4D4D;
$grey-color: #7E7E7E;
$shadowgrey-color: #CFCFCF;
$lightgrey-color: #EAEAEA;
$lightergrey-color: #F6F6F6;
$purple-color: #9356DC;
$lightpurple-color: #F5EDFF;
$pink-color: #FF79DA;
$green-color: #99E2D0;
$darkgreen-color: #008766;