*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, main, canvas, details, embed, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote blockquote:before, blockquote blockquote:after, blockquote q:before, blockquote q:after, q blockquote:before, q blockquote:after, q q:before, q q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.header nav {
  position: absolute;
  font-size: 20px;
  left: 20px;
}
.header .logo {
  width: 160px;
}

/*Colors*/
/*Shadows*/
footer {
  color: white;
  background-color: #353535;
  padding-block: 25px;
  padding-inline: 20px;
}
@media screen and (min-width: 993px) {
  footer {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer {
    padding-inline: 25px;
  }
}
footer .footer-title {
  font-family: "Shrikhand";
  font-weight: 500;
  padding-bottom: 20px;
}
footer .footer-list {
  margin: 0;
  padding: 0;
}
footer .footer-list .footer-text {
  display: flex;
  padding-bottom: 8px;
}
footer .footer-list .footer-text .footer-icon {
  padding-right: 5px;
}
footer .footer-list .footer-text .fa-utensils {
  margin-right: 6px;
}

/*** L O A D E R ***/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*** M E N U * S L I D E ***/
@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeout 1s 0.3s forwards;
  pointer-events: none;
}
.loader .spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top: 10px solid #FF79DA;
  border-left: 10px solid #FF79DA;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  animation: rotation-back 1s linear infinite;
}
.loader .spinner-small {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 15px solid transparent;
  border-top: 15px solid #9356DC;
  border-right: 15px solid #9356DC;
  border-bottom: 15px solid #9356DC;
  border-radius: 50%;
  animation: rotation 0.5s linear infinite;
}
.loader .spinner-big {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 5px solid transparent;
  border-top: 5px solid #99E2D0;
  border-right: 5px solid #99E2D0;
  border-bottom: 5px solid #99E2D0;
  border-radius: 50%;
  animation: rotation 1.5s linear infinite;
}

.location {
  display: flex;
  justify-content: center;
  color: #4D4D4D;
  background-color: #EAEAEA;
  box-shadow: inset 0 12px 3px -10px #CFCFCF;
  padding-block: 15px;
}
.location .location-icon {
  position: absolute;
  padding-right: 150px;
}

/*button*/
.button {
  border: none;
  border-radius: 30px;
  color: white !important;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 5px 0px #CFCFCF;
  transition: 200ms;
  padding: 17px 25px;
  cursor: pointer;
}
.button:hover, .button:active {
  filter: brightness(1.2);
  box-shadow: 0 5px 10px -2px #4D4D4D;
}

/*hearts*/
.empty-heart {
  font-size: 25px;
}

.full-heart {
  position: absolute;
  font-size: 25px;
  color: transparent;
  transition: 200ms;
}
.full-heart:hover, .full-heart:active {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  transform: scale(1.2);
  -webkit-background-clip: text;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 50px 20px;
}
.explore .explore-title {
  padding-bottom: 10px;
}
.explore .explore-text {
  color: #7E7E7E;
  padding-bottom: 35px;
}

/*** F U N C T I O N * C A R D ***/
.function-card {
  display: flex;
  align-items: center;
  counter-increment: function-list-counter;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 6px 8px 0 #EAEAEA;
  margin-inline: 5px;
  margin-bottom: 20px;
  padding-block: 25px;
}
.function-card:before {
  content: counter(function-list-counter);
  position: absolute;
  border-radius: 12px;
  color: white;
  background-color: #9356DC;
  margin: -10px;
  padding: 4px 6.5px 2px;
}
@media screen and (min-width: 993px) {
  .function-card {
    margin-inline: 0;
  }
}
.function-card .function-icon {
  font-size: large;
  color: #7E7E7E;
  margin-inline: 30px;
}

.function-card-highlight {
  background-color: #F5EDFF;
}
.function-card-highlight .function-icon-highlight {
  color: #9356DC;
}

/*** R E S T A U R A N T S * C A R D ***/
.restaurants-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0px #CFCFCF;
  transition: 200ms;
  margin-bottom: 20px;
}
.restaurants-card:hover, .restaurants-card:active {
  box-shadow: 0 5px 10px -2px #4D4D4D;
}
@media screen and (min-width: 993px) {
  .restaurants-card {
    margin: 0;
  }
}
.restaurants-card .restaurants-card-image {
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media screen and (min-width: 993px) {
  .restaurants-card .restaurants-card-image {
    height: 235px;
  }
}
.restaurants-card .restaurants-card-new {
  position: absolute;
  right: 30px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  margin-top: -160px;
  padding: 5px 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants-card .restaurants-card-new {
    right: 40px;
  }
}
@media screen and (min-width: 993px) {
  .restaurants-card .restaurants-card-new {
    right: 70px;
    margin-top: -225px;
  }
}
@media screen and (min-width: 993px) {
  .restaurants-card .new-left {
    right: 50%;
    margin-right: 35px;
  }
}
.restaurants-card .restaurants-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 20px;
}
.restaurants-card .restaurants-card-bottom .restaurants-card-description .restaurants-card-title {
  padding-bottom: 5px;
}
.restaurants-card .restaurants-card-bottom .full-heart {
  right: 30px;
}
@media screen and (min-width: 993px) {
  .restaurants-card .restaurants-card-bottom .full-heart {
    right: 65px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants-card .restaurants-card-bottom .full-heart {
    right: 40px;
  }
}
@media screen and (min-width: 993px) {
  .restaurants-card .restaurants-card-bottom .full-heart-left {
    right: 50%;
    margin-right: 30px;
  }
}

/*** M E N U * C A R D ***/
.menu-card {
  display: flex;
  border-radius: 15px;
  background-color: white;
  opacity: 0;
  box-shadow: 0 5px 5px 0px #CFCFCF;
  gap: 10px;
  animation: slideup 1s forwards;
}
.menu-card:nth-child(2) {
  animation-delay: 0.4s;
}
.menu-card:nth-child(3) {
  animation-delay: 0.6s;
}
.menu-card:nth-child(4) {
  animation-delay: 0.8s;
}
.menu-card:nth-child(5) {
  animation-delay: 1s;
}
.menu-card:hover .menu-card-selection, .menu-card:active .menu-card-selection {
  opacity: 100%;
  width: 72px;
}
.menu-card:hover .menu-card-selection .menu-card-check, .menu-card:active .menu-card-selection .menu-card-check {
  transform: rotate(0deg);
}
.menu-card .menu-card-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  gap: 10px;
  padding: 15px 0 15px 15px;
}
.menu-card .menu-card-info .menu-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  gap: 10px;
  padding-right: 10px;
}
.menu-card .menu-card-info .menu-card-description .menu-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .menu-card-info .menu-card-description .menu-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .menu-card-info .menu-card-price {
  display: flex;
  align-items: flex-end;
}
.menu-card .menu-card-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
}
.menu-card .menu-card-selection .menu-card-check {
  font-size: 25px;
  color: white;
  transform: rotate(180deg);
  transition: 0.5s;
}

.function {
  margin: 50px 15px;
}
.function .function-title {
  padding-bottom: 20px;
}
@media screen and (min-width: 993px) {
  .function {
    margin-inline: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .function {
    margin-inline: 25px;
  }
}
.function .function-grid {
  margin-left: 10px;
}
@media screen and (min-width: 993px) {
  .function .function-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5%;
  }
}

#restaurants {
  padding: 50px 15px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 993px) {
  #restaurants {
    padding-inline: 50px;
  }
  #restaurants .restaurants-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #restaurants {
    padding-inline: 25px;
  }
}
#restaurants .restaurants-title {
  padding-bottom: 20px;
}

/*** I N D E X ***/
/*loader*/
/*location*/
/*explore*/
/*function*/
/*restaurants*/
.menu-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (min-width: 993px) {
  .menu-image {
    height: 600px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu-image {
    height: 450px;
  }
}

.menu {
  position: relative;
  border-radius: 50px 50px 0 0;
  background-color: #F6F6F6;
  margin-top: -50px;
  padding-block: 40px;
  padding-inline: 15px;
}
@media screen and (min-width: 993px) {
  .menu {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu {
    padding-inline: 25px;
  }
}
.menu .menu-title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-inline: 10px;
}
.menu .menu-title .full-heart {
  right: 25px;
}
@media screen and (min-width: 993px) {
  .menu .menu-title .full-heart {
    right: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu .menu-title .full-heart {
    right: 35px;
  }
}
@media screen and (min-width: 993px) {
  .menu .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
  }
}
.menu .menu-grid .menu-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
}
.menu .menu-grid .menu-section .menu-section-title {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 7px;
  padding-bottom: 5px;
}
.menu .button-position {
  display: flex;
  justify-content: center;
  padding-block: 30px;
}

/*** M E N U ***/
/*menu image*/
/*** B A S E ***/
/*Reset*/
/*Typography*/
/*Header*/
/*Footer*/
/*** I N D E X ***/
/*Menu*/

/*# sourceMappingURL=style.css.map */
