@use '../utilities/_variables.scss';
@use '../components/_buttons.scss';
@use '../utilities/mixin' as *;

.explore {
    @include center-vertical;
    flex-direction: column;
    text-align: center;
    background-color: variables.$lightergrey-color;
    padding: 50px 20px;

    .explore-title {
        padding-bottom: 10px;
    }

    .explore-text {
        color: variables.$grey-color;
        padding-bottom: 35px;
    }
}