@use '../utilities/_variables.scss';
@use '../components/card';
@use '../utilities/mixin' as *;

.menu-image {
    @include dimension (100%, 300px);
    object-fit: cover;

    @media screen and (min-width: 993px) {
        @include dimension (100%, 600px);
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        @include dimension (100%, 450px);
    }
}

.menu {
    position: relative;
    border-radius: 50px 50px 0 0;
    background-color: variables.$lightergrey-color;
    margin-top: -50px;
    padding-block: 40px;
    padding-inline: 15px;

    @media screen and (min-width: 993px) {
        padding-inline: 50px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-inline: 25px;
    }

    .menu-title {
        @include spaced;
        @include center-vertical;
        font-family: 'Shrikhand';
        margin-bottom: 30px;
        padding-inline: 10px;

        .full-heart {
            right: 25px;

            @media screen and (min-width: 993px) {
                right: 60px;
            }

            @media screen and (min-width: 768px) and (max-width: 992px) {
                right: 35px;
            }
        }
    }

    .menu-grid {
        @media screen and (min-width: 993px) {
            @include grid-template (3, minmax(0, 1fr), 30px);
        }

        .menu-section {
            @include column;
            gap: 15px;
            padding-bottom: 30px;

            .menu-section-title {
                width: 40px;
                border-bottom: 2px solid variables.$green-color;
                margin-left: 7px;
                padding-bottom: 5px;
            }
        }
    }

    .button-position {
        @include center-horizontal;
        padding-block: 30px;
    }
}