@use '../utilities/_variables.scss';
@use '../components/card';

.menu-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @media screen and (min-width: 993px) {
        height: 600px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 450px;
    }
}

.menu {
    position: relative;
    border-radius: 50px 50px 0 0;
    background-color: variables.$lightergrey-color;
    margin-top: -50px;
    padding-block: 40px;
    padding-inline: 15px;

    @media screen and (min-width: 993px) {
        padding-inline: 50px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-inline: 25px;
    }

    .menu-title {
        font-family: 'Shrikhand';
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding-inline: 10px;

        .full-heart {
            right: 25px;

            @media screen and (min-width: 993px) {
                right: 60px;
            }

            @media screen and (min-width: 768px) and (max-width: 992px) {
                right: 35px;
            }
        }
    }

    .menu-grid {
        @media screen and (min-width: 993px) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 30px;
        }

        .menu-section {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-bottom: 30px;

            .menu-section-title {
                width: 40px;
                border-bottom: 2px solid variables.$green-color;
                margin-left: 7px;
                padding-bottom: 5px;
            }
        }
    }

    .button-position {
        display: flex;
        justify-content: center;
        padding-block: 30px;
    }
}