@use '../utilities/_variables.scss';
@use '../components/_card.scss';
@use '../utilities/mixin' as *;

#restaurants {
    padding: 50px 15px;
    background-color: variables.$lightergrey-color;
    
    @media screen and (min-width: 993px) {
        padding-inline: 50px;

        .restaurants-grid {
            @include grid-template (2, 1fr, 30px);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-inline: 25px;
    }

    .restaurants-title {
        padding-bottom: 20px;
    }
}